<p style="text-align:center; margin:25px 0;">
  <%= link_to text, url,
    style: "background-color:#0e3264; color:#ffffff;
            padding:12px 22px; text-decoration:none;
            border-radius:5px; font-weight:bold;
            display:inline-block;" %>
</p>
