<div id="chat-box" 
     data-controller="chat-scroll" 
     data-chat-scroll-target="chat-scroll">
  <%= turbo_stream_from @conversation %>

  <div class=" active-chats-card">
    <% if @conversation.present? %>
      <!-- Messages container -->
      <div id="<%= "messages_#{conversation.id}" %>" class="chat-box" data-chat-scroll-target="messages">
        <%= render @conversation.messages.order(created_at: :asc), locals: { current_user: current_user } %>
      </div>
      <!-- Chat Input -->
      <div class="chat-input">
        <%= render partial: "messages/form", locals: { conversation: conversation, new_message: Message.new } %>

      </div>
    <% else %>
      <p class="text-gray-500">No active chat yet. Select a client to start messaging.</p>
    <% end %>
  </div>
</turbo-frame>
