 <div class="coach-info">
  <div class="coach-avatar"><%= @coach.initials %></div>
  <div class="coach-details">
    <h2><%= @coach.full_name %></h2>
    <p><%= @coach.designation %></p>
  </div>
</div>