<div class="dashboard-cards">
  <div class="dashboard-cards-row">
    <div class="card--client">
      <%= render 'client_overview_card' %>
        <% if @client %>
          <%= render 'new_plan_card', client: @client %>
        <% end %>
    </div>
    <div class="card--chat">
      <% if @conversation.present? %>
          <div data-floating-chat-target="panel" class="non-floating-chat">
            <div class="chat-header">
              Chat with <%= @recipient.full_name %>
            </div>
              <%= render 'active_chats_card', conversation: @conversation, messages: @messages, new_message: @new_message %>
          </div>
      <% else %>
        <p>Select a client to start chatting.</p>
      <% end %>
    </div>
  </div>
</div>
