<div class="dashboard-cards">
  <div class="dashboard-cards-row">
    <div class="card--client">
      <%= render 'client_overview_card' %>
        <% if @client %>
          <%= render 'new_plan_card', client: @client %>
        <% end %>
    </div>
    <div class="card--chat">
      <% if @conversation.present? %>
        <%= render 'active_chats_card', conversation: @conversation, messages: @messages, new_message: @new_message %>
      <% else %>
        <p>Select a client to start chatting.</p>
      <% end %>
    </div>
  </div>
</div>
